body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0;
}

.jumboTitle {
    font-family: 'Rouge Script';
    font-size: 120px;
    background-color: rgba(255, 255, 255);
    color: teal;
    opacity: 0.6;
}

.jumboSlogan {
    font-family: 'Rouge Script';
    color: #2f4f4f;
    font-size: 30px;
    margin-top: -4.5%;
    margin-left: 10%;
    opacity: 0.9;
}

.jumboLogo {
    font-size: 20px;
}

.navbar {
    background-color:peachpuff;
    margin-bottom: 1%;
    max-height: 65px;
    box-shadow: 0px 2px 4px 5px rgba(255,218,185,1);
}

.navbar-brand {
    color: teal;
    font-family: 'Rouge Script';
    font-size: 55px;
}

.nav-link {
    color: #5f9ea0;
    font-weight: 500;
}

.nav-logo {
    color: #5f9ea0;
}

.navbar-logo {
    font-size: 12px;
}

.nav-link:hover {
    color: 	#a3c1ad;
    text-decoration: none;
    border-bottom: 1px solid#a3c1ad;
}

.data-url-link:hover {
    color: 	#a3c1ad;
    text-decoration: none;
    border-bottom: 2px solid#a3c1ad;
}

.carousel-control-prev {
    margin-top: 10%;
    left: -2%;
    max-width: 20px;
    max-height: 10%;
    background-color:teal;
    opacity: 0.7;
}

.carousel-control-next {
    margin-top: 10%;
    right: -2%;
    max-width: 20px;
    max-height: 10%;
    background-color:teal;
    opacity: 0.7;
}

.carousel-item .row {
    height: 320;
}

.col-lg-3 {
    height: 330px;
    overflow: auto;
}

.business img {
    height: 200px;
}

.shopping-cart {
    font-family: 'Arima Madurai', cursive;
    color: teal;
    
}

.picked-events {
    background-color:rgba(255,160,122 ,.4);
    padding: 20px 60px 20px 60px;
    border-radius: 20px;
    overflow: auto;
    display: none;

}

.footer {
    margin-top: 3%;
    background-color: peachpuff;
    color: gray;
}

.footer-quicklinks {
    text-align: left;
}

.footer-title {
    color: gray;
}

.footer-message {
    text-align: right;
}

a {
    color: teal;
}

a:hover {
    color: white;
}

.category-background {
    background-color:rgba(255,218,185 ,.7)
}

.categoryTitle {
    font-family: 'Arima Madurai', cursive;
    color: teal;
}

.carouselRestaurants, .carouselConcerts, .carouselSports {
    font-family: 'Arima Madurai', cursive;
}