h4, .chosen-div {
    display: inline-block;
    text-align: center;
}


.favorite-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    margin-right: 40px;
}

.clear {
    margin-right: 100px;
}

